@import "~bootstrap/scss/bootstrap.scss";

.row{
    height: 60px;
}

body{
    width: 60%;
    margin: auto;
}

button{
    font-size: 24pt;
    text-align: center;
}

@include media-breakpoint-up(sm){

    .row{
        height: 100px;
    }

}

@include media-breakpoint-up(md){

    .row{
        height: 150px;
    }

}

@include media-breakpoint-up(lg){

    .row{
        height: 200px;
    }

}

@include media-breakpoint-up(xl){
    button{
        font-size: 72pt;
    }

    .row{
        height: 200px;
    }

}
